<div class="ac">
    <div class="ac-input">

    </div>
    <div class="ac-row">
        <input type="button" value="C">
        <input type="button" value="pow">
        <input type="button" value="sqrt">
        <input type="button" value="+">
    </div>
    <div class="ac-row">
        <input type="button" value="7">
        <input type="button" value="8">
        <input type="button" value="9">
        <input type="button" value="-">
    </div>
    <div class="ac-row">
        <input type="button" value="4">
        <input type="button" value="5">
        <input type="button" value="6">
        <input type="button" value="*">
    </div>
    <div class="ac-row">
        <input type="button" value="1">
        <input type="button" value="2">
        <input type="button" value="3">
        <input type="button" value="/">
    </div>
    <div class="ac-row">
    </div>
</div>