<div class="ac-input" ng-bind="(name|uppercase)">
</div>
<div class="ac-row">
    <button ng-click="processButton($event)">C</button>
    <button ng-click="processButton($event)">pow</button>
    <button ng-click="processButton($event)">sqrt</button>
    <button ng-click="processButton($event)">+</button>
</div>
<div class="ac-row">
    <button ng-click="processButton($event)">7</button>
    <button ng-click="processButton($event)">8</button>
    <button ng-click="processButton($event)">9</button>
    <button ng-click="processButton($event)">-</button>
</div>
<div class="ac-row">
    <button ng-click="processButton($event)">4</button>
    <button ng-click="processButton($event)">5</button>
    <button ng-click="processButton($event)">6</button>
    <button ng-click="processButton($event)">*</button>
</div>
<div class="ac-row">
    <button ng-click="processButton($event)">1</button>
    <button ng-click="processButton($event)">2</button>
    <button ng-click="processButton($event)">3</button>
    <button ng-click="processButton($event)">/</button>
</div>
<div class="ac-row">
</div>
