<div class="ac-input">
    <input type="text" ng-model="currentNumber"></input>
</div>
<div class="ac-row">
    <ac-button>C</ac-button>
    <ac-button>pow</ac-button>
    <ac-button>sqrt</ac-button>
    <ac-button>+</ac-button>
</div>
<div class="ac-row">
    <ac-button>7</ac-button>
    <ac-button>8</ac-button>
    <ac-button>9</ac-button>
    <ac-button>-</ac-button>
</div>
<div class="ac-row">
    <ac-button>4</ac-button>
    <ac-button>5</ac-button>
    <ac-button>6</ac-button>
    <ac-button>*</ac-button>
</div>
<div class="ac-row">
    <ac-button>1</ac-button>
    <ac-button>2</ac-button>
    <ac-button>3</ac-button>
    <ac-button>/</ac-button>
</div>
<div class="ac-row">
    <ac-button>=</ac-button>
</div>
